*{
    margin: 0;
    padding: 0;
}
  .heading {
    position: fixed;
    left:350px;
    top:100px;
  }
  h4{
    position: relative;
    color: #F5F5F7;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 300;
    top:155px;

  }
  a{
    color: #5da8ff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: relative;
    top:160px;
  }
  .watches{
    width: 1146px;
    height:580px;
    background: url(/images/watch.png) no-repeat bottom;
    text-align: center;
  }